{% extends 'base.html.twig' %}

{% block body %}
    <!-- main -->
    <div class="my-5 py-5 text-center">
        <img src="favicon.png" height="100" alt="Logo O'flix" class="mb-3">
        <h1 class="display-6 fw-bold">Films, séries TV et popcorn en illimité.</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-muted">Où que vous soyez. Gratuit pour toujours.</p>
        </div>
    </div>

    <div class="container-xl bg-light p-5 border-top">

        <div class="row mb-2">

{# on inclus les catégories #}
           
        {% include('movie/_genres_list.html.twig') %}


            <div class="col-12 col-lg-9">

                <h2 class="text-muted fw-bold mb-4">Les nouveautés</h2>
{# on inclut les films avec une boucle en appelant le partial template associé #}
           {% for show_id, current_show in show_list %}
                    {% include ('movie/_show_detail.html.twig') %}
                {% endfor %}

              
            </div>

            <nav class="col-lg-9 offset-lg-3">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
{% endblock %}