{% extends 'base.html.twig' %}

{% block body %}
   



               {% include('back/_nav_backoffice.html.twig') %}
   <h1> Bienvenue dans le Backoffice </h1>

<h2 class=""> Vous trouverez dans les liens tous le nécessaire pour modifier l'arrière boutique. </h2>

  {% endblock %}