{% extends 'base.html.twig' %}

{% block body %}
   

   <h1> Bienvenue dans le Backoffice </h1>


               {% include('back/_nav_backoffice.html.twig') %}

<h2 class=""> Vous trouverez dans les liens tous le nécessaire pour modifier l'arrière boutique. Faite vous plaisir! </h2>

  {% endblock %}